.market-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.market-menu-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
}

.market-menu-container > h2 {
    font-size: 1.5em;
}

.market-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
}

.total-qty-container,
.total-price-container {
    position: relative;
}

.total-qty-container > i,
.total-price-container > i {
    font-size: 1.5em;
}

.total-qty,
.total-price {
    position: absolute;
    padding: 0 5px;
    left: 50%;
    border-radius: 10px;
    background: chocolate;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: .75em;
}

.add-button {
    padding: 0 2px;
    font-weight: bold;
}

.market-search {
    background: white;
    margin-top: 10px;
    width: 95%;
    border: 8px solid rgb(221, 183, 44);
    border-radius: 5px;
}

#market-search-tab {
    width: 90%;
    padding-left: 20px;
}

.market-items-container {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* overflow: scroll; */
}

.search-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
}

.empty-search {
    background: rgb(255, 211, 37);
    height: 2em;
    width: 90%;
    padding: 0 1em;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0% 0%, 1% 100%, 99% 100%, 100% 0);
    position: relative;
}

.empty-search > p {
    color: rgb(60, 60, 60);
    font-size: .8em;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .market-info {
        width: 100%;
        margin-top: 20px;
    }
}

@media screen and (min-width: 768px) {
    .empty-search {
        width: 75%;
    }
}