/* MARKET HEADER */
.market-header-container {
    width: 100%;
    margin-bottom: 10px;
}

.market-menu-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.total-qty-container,
.total-price-container {
    position: relative;
}

.total-qty-container > i,
.total-price-container > i {
    font-size: 1.5em;
}

.total-qty,
.total-price {
    position: absolute;
    padding: 0 5px;
    left: 50%;
    border-radius: 10px;
    background: chocolate;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: .75em;
}

.add-button {
    padding: 0 2px;
    font-weight: bold;
}

.market-search-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.market-search {
    background: white;
    width: 95%;
    box-shadow: 3px 3px rgb(120, 120, 120);
    border-radius: 3px;
}

#market-search-tab {
    width: 90%;
    padding-left: 20px;
}

.market-search-info {
    width: 92%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: .8em;
    background: rgb(100, 100, 100);
    padding: 3px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.market-search-info > p {
    margin: 0;
}

/* MARKET CONTENT */
.search-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 85%;
    overflow-y: scroll;
}

.empty-market-back {
    background-image: url('/src/images/empty-market-background.png');
    background-repeat: no-repeat;
    width: 80%;
    height: 70%;
    border: 1px solid rgb(100, 100, 100);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media screen and (min-width: 576px) {
    .empty-market-back {
        width: 70%;
    }
    .market-search {
        width: 85%;
    }
    .market-search-info {
        width: 80%;
    }
}

@media screen and (min-width: 768px) {
    .market-header-container {
        display: grid;
        grid-template-columns: 180px auto;
    }
    .market-search {
        width: 75%;
    }
    .market-search-info {
        width: 70%;
    }
    .empty-market-back {
        width: 50%;
        height: 60%;
    }
}

@media screen and (min-width: 992px) {
    .market-menu-container {
        width: 80%;
    }
}