body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  margin: 10px 0;
}

i {
  cursor: pointer;
}

input {
  border: none;
  outline: none;
}

.link:hover {
  text-decoration: none;
}
