.fridge-item-container {
    background: white;
    width: 100%;
    border-bottom: 1px solid #ccc;
    display: grid;
    grid-template-columns: 20% 60% auto;
    position: relative;
    z-index: 1;
}

.food-pic-container {
    display: flex;
    justify-content: center;
}

.food-pic {
    height: 35px;
    border-radius: 50%;
    margin: 5px;
    align-self: center;
}

.item-info {
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-info > h5 {
    margin-bottom: 4px;
    font-size: .8em;
}

.nutrition-info {
    display: none;
    font-size: .75em;
    margin: 0;
}

.change-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ice-pic {
    height: 100%;
    position: absolute;
    z-index: -1;
}

.edit-panel {
    color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(80, 80, 80, .95);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transform: translateX(120%);
    transition: all .5s;
}

.edit-panel > p,
.edit-panel > h5 {
    margin: 0; 
    font-size: 1em;
}

#add-new-qty {
    display: none;
}

@media screen and (max-width: 425px) {
    
} 

@media screen and (min-width: 768px) {
    .item-info > h5 {
        font-size: .9em;
    }
    .nutrition-info {
        display: inline;
    }
    .food-pic {
        height: 40px;
    }

}

@media screen and (min-width: 1024px) {
    .item-info > h5 {
        font-size: 1em;
    }
    .nutrition-info {
        font-size: .9em;
    }
}