.background {
    background: lightblue;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    background: whitesmoke;
    width: 95%;
    min-height: 95vh;
    border-radius: 25px;
    padding: 5%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 10% 90%;
}

.header {
    width: 100%;
}

.content {
    width: 100%;
    margin-top: 30px;
    display: grid;
}

.sidebar {
    height: 100%;
}

.pages {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.burguer-menu {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    transform: translateY(-100%);
    background: rgba(40, 40, 40, 0.95);
    padding: 10px;
    color: white;
    transition: all .5s;
}

.burguer-link {
    color: white;
    font-size: .75em;
    margin-left: 10px;
}

@media screen and (max-width: 767px) {
    .content {
        grid-template-rows: auto 80%;
    }
}

@media screen and (min-width: 768px) {
    .content {
        grid-template-columns: 20% 80%;
    }
}