/* SIDE NAVBAR */
.side-navbar {
    border-radius: 5px;
    padding: 0;
    display: none;
    flex-direction: column;
    align-items: center;
}
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 0;
}
.user-name {
    color: rgb(80, 80, 80);
    margin: 5px;
    font-size: 1.1em;
}
.bi-person-circle {
    margin-right: 5px;
}
.login-btn {
    padding: 0 20px;
    margin-bottom: 10px;
}
.login-input {
    background: rgb(220, 220, 220);
    width: 90%;
    height: 0;
    padding: 0 5px;
    border-radius: 5px;
    text-align: center;
    transition: all 1s;
}
.side-link {
    padding: 0;
    font-size: .85em;
    color: rgb(80, 80, 80);
}

/* SIDE NAVBAR & BURGUER MENU */
.nav-links-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ico-link {
    font-size: 1.25em;
    margin-right: 10px;
}
.side-link:hover,
.burguer-link:hover {
    font-weight: bold;
}

/* BURGUER MENU */
.burguer-menu {
    position: absolute;
    top: 0;
    width: 90%;
    z-index: 3;
    transform: translateY(-100%);
    background: rgba(40, 40, 40, 0.95);
    padding: 10px;
    color: white;
    transition: all .5s;
}
.burguer-link {
    color: white;
    font-size: .75em;
    margin-left: 10px;
}

@media screen and (min-width: 768px) {
    .side-navbar {
        display: flex;
    }
    .burguer-menu {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    .side-link {
        font-size: 1em;
    }
}